h1, h2{
  color: purple;
  text-align: center;
  text-decoration: underline;
  font-family: 'Audiowide', cursive;
  font-size: 64px;
}
h2{
  text-decoration: none;
  font-size: 32px;
}
body{
  background-color: black;
}
#search{
  display: inline-block;
}
